# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

# LangSmith
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=lang-stack-research-agent

# Langfuse
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com

# Tavily
TAVILY_API_KEY=
